{% extends "::base.html.twig" %}

{% block body %}
    <form action="#" class="form-inline text-center formulario-pesquisa">
        <div class="form-group">
            <label for="pesquisa">Pesquisa:</label>
            <input type="search" class="form-control" id="pesquisa" name="pesquisa">
        </div>
        <button class="btn btn-default">Pesquisar</button>
    </form>
{% endblock %}
