{% extends "::base.html.twig" %}

{% block breadcrumb %}
    <li><a href="{{ path('index') }}">Home</a></li>
    <li class="active">Anos de Publicação</li>
{% endblock %}

{% block body %}
    <h2>Anos de publicação</h2>

    <ul class="list-group">
        {% for ano in anos %}
        <li class="list-group-item">
            <a href="{{ path('trabalhos_por_ano', {'ano': ano}) }}">{{ ano }}</a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
